
body {
	background-color: lightgrey;
	margin: 0;
    padding: 0;
    text-align: center;
}

.wrapper {
	display: inline-flex;
}

.baseContainer, .toppingsContainer, .pizzaContainer {
	border: 1px solid black;
	margin: 20px;
	padding: 30px;
	text-align: center;
	width: 200px;
}

.base-list, .pizza-list, .toppings-list {
	list-style-type: none;
	padding: 0;
}

.base-list li, .pizza-list li, .toppings-list li {
	cursor: pointer;
	margin: 6px;

}

.base-list li:hover, .pizza-list li:hover, .toppings-list li:hover {
	color: red;
}